* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "VT323", monospace;
}

.game-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: grey;
}

#serverTime {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    font-size: 40px;
    color: white;
}

.night {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0);
    opacity: 1;
}

.sky {
    width: 100%;
    height: 80%;
    background: rgba(235, 176, 255, 1);
    position: relative;
}

.orbit {
    position: absolute;
    width: 1100px;
    height: 1100px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 0;
}

.sun {
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgb(253, 255, 154);
    border-radius: 50%;
    bottom: 50px; /* Half of height to position at top */
    left: calc(50% - 40px); /* Center horizontally */
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.7);
    filter: blur(1px);
    overflow: visible;
}

.moon {
    position: absolute;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    top: 50px; /* Half of height to position at bottom */
    left: calc(50% - 30px); /* Center horizontally */
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.6);
    filter: blur(0.5px);
    overflow: visible;
}

.ocean {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: blue;
    z-index: 1;
}